body {
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    min-height: 100vh;
}

.header-block {
    display: flex;
    background: #1F2937;
    color: white;
}

.header-nav {
    display: flex;
    font-size: 18px;
}

.title-block {
    display: flex;
    background: #1F2937;
}

.info-block {
    display: flex;
    flex-direction: column;
}

.image-cards {
    display: flex;
}

.signup-block {
    display: flex;
    background: #3882F6;
}

.signup-slogan {
    display: flex;
    flex-direction: column;
}

.footer {
    color: white;
    background: #1F2937;
}

.quote {
    background: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color:  #1F2937 ;
    font-weight: light;
}

button {
    background: #3882F6;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8
}

.header-nav a {
    color: #E5E7EB;
    font-size: 18px;
}

a:link {
    text-decoration: none;
}

ul {
    list-style: none;
}

.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
}

#hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}